{% extends 'web/base.html' %}
{% load bootstrap4 %}

{% block content %}

{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% if is_active %}
<h1>¡Escoge tu almuerzo!</h1>
<br>
<div class="container">
    <div class="card">
        <form  method="POST" action="" id="taskForm">
            {% csrf_token %}
            {% bootstrap_form form  layout='horizontal' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary btn-large">Guardar</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% else %}
<h1>Lo siento! el menu expiró :( </h1>
{% endif %}


{% endblock %}